#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* my css */

.main-header {
  position: absolute top;
  text-align:center;
  font-size: 1.5rem;
  border: 2px solid;
  padding: 0.5rem;
  width: 20rem;
  margin: 0 auto;
}
/* reviews */
.list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}