/* app */

.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../src/img/gamesBackground.png");
  background-size: 60%;
}

/* Home */

.homePageFlex {
  margin: auto;
  width: 50%;
  padding: 20px;
}
.homePage {
  border-radius: 20px;
  background-color: rgba(198, 226, 233);
  box-shadow: 1px 1px 5px 1px black;
  list-style-type: none;
  font-size: 25px;
  padding: 20px;
}

.homeImg {
  margin-top: 20px;
  width: 90%;
  border-radius: 20px;
}

/* Header */

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "orbitron", sans-serif;
  background-color: rgba(198, 226, 233);
  text-shadow: #d9aad0 -2px 2px;
}

/* NavBar */
.Bar {
  top: 0;
  position: relative;
  background-color: rgba(198, 226, 233);
  border: 5px solid #d9aad0;
}

.barUl {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  list-style-type: none;
  font-size: 20px;
}

.smallUserIcon img {
  max-height: 25px;
  max-width: 65px;
  clip-path: circle(50px at 50% 50%);
  border: 1px solid black;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: relative;
  top: -50px;
  margin-right: 1.5%;
}

/* Reviews*/

.AllReviewsColor {
  background-color: rgba(198, 226, 233, 1);
  width: 30%;
  margin-top: 1rem;
  margin-left: 36%;
  border-radius: 20px;
}

.categoryItem {
  list-style-type: none;
  padding: 0.3rem;
  background-color: rgba(198, 226, 233, 1);
  border: 2px solid #d9aad0;
  margin: 0.5rem;
  border-radius: 20px;
  width: 8rem;
  height: 5rem;
  box-shadow: 1px 1px 5px 1px #d9aad0;
  font-size: 15px;
}

.img {
  margin-top: 2rem;
  width: 60%;
  height: auto;
  border-radius: 20px;
}

.ReviewCard {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(198, 226, 233);
  box-shadow: 1px 1px 5px 1px black;
  list-style-type: none;
  margin-bottom: 1rem;
}

.readFullReview {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: medium;
  border: none;
  background-color: rgba(198, 226, 233);
}

.readFullReview a:link {
  background-color: #d9aad0;
  border-radius: 20px;
  padding: 0.5rem;
  text-decoration: none;
}

.ReviewTitle {
  padding: 0.5rem;
  font-family: "orbitron", sans-serif;
  font-weight: bold;
}

.ReviewCategory {
  padding: 0.5rem;
  font-family: "orbitron", sans-serif;
}

.ReviewDesigner {
  padding: 0.5rem;
  font-family: "orbitron", sans-serif;
  font-size: smaller;
  font-style: italic;
}

.ReviewBody {
  padding: 0.5rem;
  border-style: none;
  background-color: #edddeb;
  border-radius: 20px;
}

.sortContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.orderButton {
  padding: 0.4rem;
  background-color: rgb(246, 183, 229);
  border-radius: 20px;
  font-size: 16px;
  margin-left: 0.5%;
}

.orderButton:hover {
  transform: scale(1.1);
}

.sortButton {
  padding: 0.5rem;
  border-color: #d9aad0;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px #d9aad0;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: flex;
  margin-left: 20px;
}

/* ReviewCard */
.ReviewCardSingle {
  list-style: none;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(198, 226, 233);
  box-shadow: 1px 1px 5px 1px black;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* Comments & CommentAdder */
.commentsList {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgb(241, 241, 239);
  box-shadow: 1px 1px 5px 1px black;
  list-style-type: none;
}

.containInDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: block;
  overflow: hidden;
}

.commentsButtons {
  background-color: #d9aad0;
  border-radius: 20px;
  padding: 0.5rem;
  text-decoration: none;
  margin: 1rem;
}

.spacing {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 25px;
}

/* Votes */
.likeButton {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Users */

.userImg {
  max-height: 219px;
  max-width: 304px;
  border-radius: 20px;
}

.userCard {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  background-color: rgba(198, 226, 233);
  box-shadow: 1px 1px 5px 1px black;
  list-style-type: none;
  margin-bottom: 3rem;
}

/* Media Queries */

/* Error Handling */
